@import "../../styles/font";
@import "../../styles/spacing";

header {
  text-align: center;
}

.heading {
  display: inline-block;
  font-family: $heading;
  font-size: 4.2rem;
  font-weight: 900;
  height: 12vh;
  padding: 0 3rem;
  color: forestgreen;
  border: 3px solid tomato;
  box-shadow: 15px 15px black;
}
