@import "../../styles/spacing";
@import "../../styles/color";

.modal {
  position: fixed;
  height: 70vh;
  left: 30vw;
  top: 12vh;
  right: 30vw;
  bottom: 12vh;
  background-color: white;
  border: 3px solid black;
  box-shadow: 15px 15px $grey;
}

.modal-btns {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-evenly;
}

.modal > .section-heading {
  text-align: center;
}

.modal-btns > button {
  border: 1px solid;
}
