@import "../../styles/spacing";

.menu > .section-heading {
  text-align: center;
}
.menu-container {
  display: grid;
  grid-template-columns: 40% 60%;
}

.menu-categories {
  display: flex;
  flex-direction: column;
}

.menu-categories > button {
  margin-bottom: $sm-vertical-space;
  font-size: 1.25rem;
  text-align: left;
}

.menu-categories > button::after {
  font-style: italic;
  font-weight: 800;
}

@media (max-width: 768px) {
  .menu-container {
    height: 100%;
    display: flex;
    justify-content: space-around;
  }
}
