.restaurant-info > div > button {
  margin-top: 1rem;
}

.small-txt {
  font-size: 0.5rem;
}

@media (max-width: 768px) {
  .restaurant-container {
    display: flex;
    justify-content: space-around;
  }
}
