@import "./styles/font";
@import "./styles/spacing";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 80vw;
  border: 2px dashed plum;
  margin: auto;
}

section {
  height: 90vh;
  padding-left: $sm-horizontal-space;
  padding-top: $sm-vertical-space;
}

.section-heading {
  @include header-text-style;
  height: 10vh;
}

h3 {
  @include sub-header-text-style;
}

div {
  margin-bottom: 2rem;
}

button {
  font-family: $body;
  background-color: transparent;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
}

button:hover {
  font-weight: 800;
  font-style: italic;
}

p {
  font-family: $body;
}

.components {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}
