@import "./styles/font";
@import "./styles/spacing";
@import "./styles/color";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 80vw;
  margin: auto;
}

section {
  height: 90vh;
  padding-left: $sm-horizontal-space;
  padding-top: $sm-vertical-space;
}

.section-heading {
  @include header-text-style;
  height: 10vh;
}

h3 {
  @include sub-header-text-style;
}

h4 {
  @include sub-header-text-style;
  margin-bottom: 1.5rem;
}

p {
  font-family: $body;
}

button {
  font-family: $body;
  background-color: transparent;
  border: none;
  font-size: 1rem;
}

button:hover {
  border: 2px solid black;
  font-weight: 800;
  font-style: italic;
  box-shadow: 3px 3px $grey;
}

li {
  font-family: $body;
}

.components {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

.grey {
  @include greyed-out-header;
}

@media (max-width: 768px) {
  .App {
    width: 100vh;
    height: 100%;
  }

  .components {
    display: flex;
    flex-direction: column;
  }

  section {
    height: 100%;
    padding-left: $sm-horizontal-space;
    padding-top: $sm-vertical-space;
  }

  .section-heading {
    text-align: center;
  }
}
